@model IEnumerable<FoodOnWheels.Models.Order>

@{
    ViewData["Title"] = "CheckOrderStatus";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Order Status</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.foodItem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.foodItem.ItemName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            

        </tr>
}
    </tbody>
</table>
<a class="btn btn-info" role="button"  asp-action="CustomerMenu" asp-controller="Customer"> Back to Customer Menu</a> 
