@model IEnumerable<FoodOnWheels.Models.FoodItems>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Manage Food Items</h1>

<p>
    <a class="btn btn-success" role="button"  asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ItemName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ItemName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a class="btn btn-primary" role="button"  asp-action="Edit" asp-route-id="@item.ItemId">Edit</a> |
                <a class="btn btn-info" role="button"  asp-action="Details" asp-route-id="@item.ItemId">Details</a> |
                <a class="btn btn-danger" role="button"  asp-action="Delete" asp-route-id="@item.ItemId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<br/>
 <a class="btn btn-info" role="button" asp-controller="SubMenus" asp-action="AddFoodIndex" >Back to Sub-Menu List</a> 
